/*HEADER*/
body {
    background-image: url(../images/phoenix.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.banner {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 10fr;
}

.banner a {
    text-decoration: none;
    color: white;
}

header {

    padding: 20% 5%;
    grid-column: 1 / 2;
    grid-row: 2 / 3
}

h1 {
    font-size: 70pt;
}

#menu ul {
        
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: left;
    position: absolute;
    top: 0px;
}

#menu li {
    padding: 20px 5px;
    list-style-type: none;
}

#menu a {
    
    padding: 4px 5px;
    margin: 10px 10px;
    font-weight: 400;
    font-size: 14pt;
}

.lead {
    z-index: +1;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 20% 10%;
    display: flex;
    flex-direction: column;
    font-size: 18pt;
}

.lead h2 {

    margin: 0;
}

/* HOME PAGE */
main {
    padding: 0;

}

h2 {

    Padding: 20px 0 5px 0;
    margin: 0;

}

main h2 {

    background-color: black;
    color: white;
}

.grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 2% 80px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.63);
}

.first-blurb  {
    background-image: url(../images/oven.jpeg);
    height: 300px;
    width: 400px;
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
}

.second-blurb  {
    background-image: url(../images/drought.jpg);
    height: 300px;
    width: 400px;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
}

.third-blurb  {
    background-image: url(../images/cholla.jpg);
    height: 300px;
    width: 400px;
    background-size: cover;
    background-position: center;
    grid-column: 3 / 4;
}

.card {
    color: white;
    text-align: center;
    height: 100%;
    transition: 1.5s;
    padding-top: 20%;
}

h3 {
    font-size: 34pt;
    margin:0;
    padding-bottom: 0;
    background-color: rgba(36, 30, 30, 0.781);

}

.card:hover {

    background-color:rgba(36, 30, 30, 0.856);
    padding-top: 0;
}

.text {
    color: rgb(0, 0, 0, 0);
}

.text:hover {
    color: white;
    margin: 0;
    padding: 1% 5% 5% 5%;
}

.text a {
    color: inherit;
    font-size: 14pt;
    text-decoration: none;
    font-style:italic;

}

.text a:hover {

    font-size: 16pt;
    color: rgb(180, 119, 116);
}
